<html>
    <head>
        <title>Settings</title>
    </head>
    <body>
        <h1>Settings</h1>
        <div>{{username}}</div>
        <form action="/account/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
